In [21]:
import pandas as pd
import numpy as np
import time
from datetime import date
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
import re

# Importing the main dataset

In [22]:
poverty = pd.read_excel("Raw Data/Poverty/Poverty2018.xlsx", sheet_name = "Data")

In [23]:
display(poverty.head(30))
display(poverty.tail(30))

,Unnamed: 0,Population for whom poverty status is determined,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
0,NaN,NaN,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SEX,NaN,NaN,RACE AND HISPANIC OR LATINO ORIGIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EDUCATIONAL ATTAINMENT,NaN,NaN,NaN,NaN,NaN,EMPLOYMENT STATUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WORK EXPERIENCE,NaN,NaN,NaN,NaN,ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWIN...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,Female,15 years,16 to 17 years,18 to 24 years,25 to 34 years,35 to 44 years,45 to 54 years,55 to 64 years,65 to 74 years,75 years and over,Mean income deficit for unrelated individuals ...,"Worked full-time, year-round in the past 12 mo...","Worked less than full-time, year-round in the ...",Did not work
1,NaN,NaN,NaN,Under 18 years,NaN,NaN,NaN,18 to 64 years,NaN,NaN,60 years and over,65 years and over,NaN,Male,Female,NaN,White alone,Black or African American alone,American Indian and Alaska Native alone,Asian alone,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races,Hispanic or Latino origin (of any race),"White alone, not Hispanic or Latino",NaN,Population 25 years and over,NaN,NaN,NaN,NaN,NaN,Civilian labor force 16 years and over,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Population 16 years and over,NaN,NaN,NaN,NaN,50 percent of poverty level,125 percent of poverty level,150 percent of poverty level,185 percent of poverty level,200 percent of poverty level,300 percent of poverty level,400 percent of poverty level,500 percent of poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,Under 5 years,5 to 17 years,Related children of householder under 18 years,NaN,18 to 34 years,35 to 64 years,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Less than high school graduate,High school graduate (includes equivalency),"Some college, associate's degree",Bachelor's degree or higher,NaN,NaN,Employed,NaN,NaN,Unemployed,NaN,NaN,NaN,NaN,"Worked full-time, year-round in the past 12 mo...",Worked part-time or part-year in the past 12 m...,Did not work,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Label,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,Female,NaN,Male,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Estimate,"4,763,828",NaN,"1,070,267","282,011","788,256","1,066,361","2,881,507","1,039,098","1,842,409","1,128,254","812,054",NaN,"2,298,424","2,465,404",NaN,"3,234,891","1,261,791","21,318","63,405",N,"83,031","97,667","206,755","3,123,901",NaN,"3,277,745","428,506","1,002,824","998,639","847,776",NaN,"2,207,384","2,083,330","1,084,709","998,621","124,054","63,749","60,305",NaN,"3,824,668","1,558,362","729,862","1,536,444",NaN,"363,398","1,045,821","1,283,409","1,622,952","1,739,680","2,544,842","3,219,037","3,708,401","860,676","406,769","453,907",993,"2,742","97,399","140,259","101,000","115,762","161,059","124,044","117,418","7,375","327,438","154,253","378,985"
7,Below poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Estimate,"800,422",NaN,"255,186","73,474","181,712","251,471","461,988","205,565","256,423","127,623","83,248",NaN,"343,856","456,566",NaN,"382,735","349,597","4,060","6,413",N,"32,015","24,898","64,845","353,479",NaN,"441,028","129,651","164,258","109,846","37,273",NaN,"196,093","146,030","58,764","87,266","50,063","20,921","29,142",NaN,"573,986","50,903","146,466","376,617",NaN,(X),(X),(X),(X),(X),(X),(X),(X),"264,662","112,137","152,525",993,"2,659","53,328","34,757","27,438","37,568","57,718","27,511","22,690",(X),"13,017","71,284","180,361"
9,Percent below poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Estimate,16.8%,NaN,23.8%,26.1%,23.1%,23.6%,16.0%,19.8%,13.9%,11.3%,10.3%,NaN,15.0%,18.5%,NaN,11.8%,27.7%,19.0%,10.1%,N,38.6%,25.5%,31.4%,11.3%,NaN,13.5%,30.3%,16.4%,11.0%,4.4%,NaN,8.9%,7.0%,5.4%,8.7%,40.4%,32.8%,48.3%,NaN,15.0%,3.3%,20.1%,24.5%,NaN,(X),(X),(X),(X),(X),(X),(X),(X),30.8%,27.6%,33.6%,100.0%,97.0%,54.8%,24.8%,27.2%,32.5%,35.8%,22.2%,19.3%,(X),4.0%,46.2%,47.6%
11,Alaska,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Estimate,"720,869",NaN,"180,258","51,329","128,929","179,037","454,213","176,700","277,513","132,192","86,398",NaN,"370,771","350,098",NaN,"464,926","23,967","107,926","46,023","7,846","9,732","60,449","51,952","434,277",NaN,"478,760","31,656","133,759","167,511","145,834",NaN,"370,092","344,700","182,981","161,719","25,392","16,131","9,261",NaN,"559,276","243,287","158,463","157,526",NaN,"37,710","100,355","126,748","167,488","181,502","296,900","393,946","480,098","152,663","84,920","67,743",415,660,"16,571","36,369","20,671","23,226","26,513","18,249","9,989","7,887","71,525","42,795","38,343"
14,Below poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Estimate,"78,620",NaN,"25,327","8,384","16,943","24,235","47,464","22,444","25,020","9,992","5,829",NaN,"38,912","39,708",NaN,"34,474","2,719","24,632","6,567","2,267",733,"7,228","4,820","32,089",NaN,"43,873","6,777","19,063","13,485","4,548",NaN,"25,814","17,775","8,312","9,463","8,039","5,279","2,760",NaN,"55,473","4,545","21,941","28,987",NaN,(X),(X),(X),(X),(X),(X),(X),(X),"30,876","16,394","14,482",415,660,"5,672","5,940","4,514","4,967","5,197","2,319","1,192",(X),"2,164","12,740","15,972"
16,Percent below poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Estimate,10.9%,NaN,14.1%,16.3%,13.1%,13.5%,10.4%,12.7%,9.0%,7.6%,6.7%,NaN,10.5%,11.3%,NaN,7.4%,11.3%,22.8%,14.3%,28.9%,7.5%,12.0%,9.3%,7.4%,NaN,9.2%,21.4%,14.3%,8.1%,3.1%,NaN,7.0%,5.2%,4.5%,5.9%,31.7%,32.7%,29.8%,NaN,9.9%,1.9%,13.8%,18.4%,NaN,(X),(X),(X),(X),(X),(X),(X),(X),20.2%,19.3%,21.4%,100.0%,100.0%,34.2%,16.3%,21.8%,21.4%,19.6%,12.7%,11.9%,(X),3.0%,29.8%,41.7%
18,Arizona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Estimate,"7,013,444",NaN,"1,616,402","427,352","1,189,050","1,609,759","4,149,779","1,586,332","2,563,447","1,679,618","1,247,263",NaN,"3,455,482","3,557,962",NaN,"5,486,921","320,565","322,329","233,519","14,692","355,393","280,025","2,214,446","3,820,126",NaN,"4,760,442","586,805","1,129,521","1,610,410","1,433,706",NaN,"3,378,989","3,200,287","1,705,177","1,495,110","178,702","96,831","81,871",NaN,"5,579,658","2,294,152","1,219,496","2,066,010",NaN,"440,556","1,319,148","1,640,536","2,132,491","2,355,279","3,590,503","4,575,627","5,291,082","1,382,640","700,185","682,455","1,484","4,513","168,996","279,069","157,160","183,450","218,907","190,900","178,161","7,867","595,146","295,100","492,394"
21,Below poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Estimate,"983,499",NaN,"324,622","94,276","230,346","318,887","552,070","261,125","290,945","157,385","106,807",NaN,"454,105","529,394",NaN,"670,088","62,453","107,376","28,479","1,268","68,178","45,657","434,617","343,953",NaN,"530,909","147,114","155,274","157,395","71,126",NaN,"265,581","215,916","108,869","107,047","49,665","25,737","23,928",NaN,"692,712","66,982","204,575","421,155",NaN,(X),(X),(X),(X),(X),(X),(X),(X),"318,003","154,269","163,734","1,484","3,920","70,043","53,249","31,928","41,959","54,964","30,314","30,142",(X),"13,930","103,683","200,390"
23,Percent below poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Estimate,14.0%,NaN,20.1%,22.1%,19.4%,19.8%,13.3%,16.5%,11.3%,9.4%,8.6%,NaN,13.1%,14.9%,NaN,12.2%,19.5%,33.3%,12.2%,8.6%,19.2%,16.3%,19.6%,9.0%,NaN,11.2%,25.1%,13.7%,9.8%,5.0%,NaN,7.9%,6.7%,6.4%,7.2%,27.8%,26.6%,29.2%,NaN,12.4%,2.9%,16.8%,20.4%,NaN,(X),(X),(X),(X),(X),(X),(X),(X),23.0%,22.0%,24.0%,100.0%,86.9%,41.4%,19.1%,20.3%,22.9%,25.1%,15.9%,16.9%,(X),2.3%,35.1%,40.7%
25,Arkansas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Estimate,"2,925,448",NaN,"690,886","185,545","505,341","687,279","1,743,670","641,798","1,101,872","676,949","490,892",NaN,"1,424,685","1,500,763",NaN,"2,244,044","436,368","20,117","46,691","9,132","82,557","86,539","225,030","2,113,842",NaN,"1,977,082","248,034","667,124","595,111","466,813",NaN,"1,371,578","1,310,782","685,961","624,821","60,796","32,296","28,500",NaN,"2,312,881","982,977","448,268","881,636",NaN,"196,541","674,173","836,345","1,065,029","1,161,204","1,692,842","2,093,925","2,364,561","544,045","257,771","286,274",852,"2,582","74,297","93,393","58,365","72,261","95,641","76,451","70,203","7,027","212,676","110,189","221,180"
28,Below poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Estimate,"504,504",NaN,"170,769","53,630","117,139","167,359","283,453","132,539","150,914","76,650","50,282",NaN,"214,846","289,658",NaN,"312,912","132,623","4,679","7,099","2,776","20,757","23,658","53,598","286,196",NaN,"264,252","65,359","103,022","72,418","23,453",NaN,"131,772","107,891","42,966","64,925","23,881","11,420","12,461",NaN,"349,029","38,417","98,204","212,408",NaN,(X),(X),(X),(X),(X),(X),(X),(X),"164,012","65,801","98,211",852,"2,517","39,081","21,065","16,303","22,320","31,639","16,988","13,247",(X),"11,627","49,215","103,170"

,Unnamed: 0,Population for whom poverty status is determined,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,UNRELATED INDIVIDUALS FOR WHOM POVERTY STATUS IS DETERMINED,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
338,Percent below poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,Estimate,10.3%,NaN,12.5%,13.1%,12.3%,12.1%,10.2%,13.4%,8.3%,7.5%,7.2%,NaN,9.5%,11.0%,NaN,8.9%,20.0%,18.6%,10.0%,16.6%,18.5%,12.9%,16.4%,8.2%,NaN,8.5%,19.8%,11.7%,8.6%,3.9%,NaN,5.9%,4.9%,4.0%,6.0%,27.2%,27.2%,27.1%,NaN,9.7%,1.6%,13.9%,17.6%,NaN,(X),(X),(X),(X),(X),(X),(X),(X),22.0%,20.2%,23.9%,89.9%,95.5%,41.9%,15.5%,18.5%,22.4%,25.3%,15.4%,15.9%,(X),2.5%,33.5%,41.4%
340,West Virginia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
341,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342,Estimate,"1,753,476",NaN,"353,722","91,059","262,663","351,417","1,047,767","347,924","699,843","482,440","351,987",NaN,"864,709","888,767",NaN,"1,638,174","60,718",N,"13,210",N,"5,984","32,434","23,560","1,621,584",NaN,"1,255,405","150,000","495,961","337,730","271,714",NaN,"781,287","736,919","388,028","348,891","44,368","25,314","19,054",NaN,"1,443,862","533,833","277,221","632,808",NaN,"132,751","415,783","502,466","633,469","681,768","1,006,871","1,248,723","1,416,073","371,258","181,073","190,185",192,"2,052","46,541","52,871","40,220","53,721","64,630","57,084","53,947","7,199","130,700","71,378","169,180"
343,Below poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344,Estimate,"312,188",NaN,"86,713","25,235","61,478","84,482","190,312","82,787","107,525","54,619","35,163",NaN,"143,349","168,839",NaN,"280,251","17,378",N,"2,739",N,"1,271","10,032","4,165","277,102",NaN,"180,883","44,922","76,509","45,480","13,972",NaN,"75,060","57,713","25,275","32,438","17,347","7,925","9,422",NaN,"235,367","16,240","61,331","157,796",NaN,(X),(X),(X),(X),(X),(X),(X),(X),"114,963","52,573","62,390",192,"2,023","29,674","13,009","11,283","17,048","21,756","11,352","8,626",(X),"5,077","33,287","76,599"
345,Percent below poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,Estimate,17.8%,NaN,24.5%,27.7%,23.4%,24.0%,18.2%,23.8%,15.4%,11.3%,10.0%,NaN,16.6%,19.0%,NaN,17.1%,28.6%,N,20.7%,N,21.2%,30.9%,17.7%,17.1%,NaN,14.4%,29.9%,15.4%,13.5%,5.1%,NaN,9.6%,7.8%,6.5%,9.3%,39.1%,31.3%,49.4%,NaN,16.3%,3.0%,22.1%,24.9%,NaN,(X),(X),(X),(X),(X),(X),(X),(X),31.0%,29.0%,32.8%,100.0%,98.6%,63.8%,24.6%,28.1%,31.7%,33.7%,19.9%,16.0%,(X),3.9%,46.6%,45.3%
347,Wisconsin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
348,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,Estimate,"5,665,153",NaN,"1,247,282","324,132","923,150","1,240,322","3,456,436","1,209,243","2,247,193","1,363,776","961,435",NaN,"2,806,395","2,858,758",NaN,"4,842,685","349,711","48,471","161,905",N,"119,925","140,641","393,060","4,600,736",NaN,"3,930,440","302,050","1,192,717","1,241,754","1,193,919",NaN,"3,064,883","2,968,682","1,543,972","1,424,710","96,201","54,457","41,744",NaN,"4,568,900","2,125,146","1,107,096","1,336,658",NaN,"274,093","845,387","1,042,169","1,373,986","1,523,517","2,485,101","3,387,296","4,076,171","1,253,231","622,276","630,955","2,030","4,368","188,778","237,546","135,727","158,752","207,524","155,645","162,861","6,882","559,163","290,323","403,745"
350,Below poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
351,Estimate,"625,826",NaN,"175,243","51,696","123,547","169,022","374,548","196,318","178,230","108,433","76,035",NaN,"282,420","343,406",NaN,"424,619","111,254","10,392","26,433",N,"26,685","26,087","73,033","385,204",NaN,"333,356","67,963","126,669","96,308","42,416",NaN,"209,748","179,995","72,281","107,714","29,753","16,195","13,558",NaN,"468,838","48,603","181,782","238,453",NaN,(X),(X),(X),(X),(X),(X),(X),(X),"284,977","126,871","158,106","2,019","4,018","91,770","34,401","21,465","33,207","45,737","25,908","26,452",(X),"21,369","118,556","145,052"
352,Percent below poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,Estimate,11.0%,NaN,14.0%,15.9%,13.4%,13.6%,10.8%,16.2%,7.9%,8.0%,7.9%,NaN,10.1%,12.0%,NaN,8.8%,31.8%,21.4%,16.3%,N,22.3%,18.5%,18.6%,8.4%,NaN,8.5%,22.5%,10.6%,7.8%,3.6%,NaN,6.8%,6.1%,4.7%,7.6%,30.9%,29.7%,32.5%,NaN,10.3%,2.3%,16.4%,17.8%,NaN,(X),(X),(X),(X),(X),(X),(X),(X),22.7%,20.4%,25.1%,99.5%,92.0%,48.6%,14.5%,15.8%,20.9%,22.0%,16.6%,16.2%,(X),3.8%,40.8%,35.9%
354,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
355,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
356,Estimate,"563,374",NaN,"130,118","34,677","95,441","129,731","339,054","122,239","216,815","135,255","94,202",NaN,"283,869","279,505",NaN,"516,148",N,"14,977",N,N,"8,450","13,520","56,158","474,102",NaN,"387,155","25,425","110,613","146,226","104,891",NaN,"297,029","285,894","154,674","131,220","11,135","6,167","4,968",NaN,"448,572","206,877","108,349","133,346",NaN,"28,721","82,292","102,615","138,085","151,657","258,777","338,959","410,359","122,857","65,462","57,395",0,359,"17,984","25,034","14,748","14,041","20,978","16,935","12,778","6,945","58,024","30,166","34,667"
357,Below poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
358,Estimate,"62,301",NaN,"17,986","5,891","12,095","17,639","37,464","21,354","16,110","10,580","6,851",NaN,"25,538","36,763",NaN,"54,006",N,"3,719",N,N,"1,969","1,317","11,324","46,318",NaN,"32,551","5,722","10,369","11,719","4,741",NaN,"21,312","18,078","7,197","10,881","3,234","1,331","1,903",NaN,"46,342","5,730","17,881","22,731",NaN,(X),(X),(X),(X),(X),(X),(X),(X),"28,113","10,454","17,659",0,319,"9,177","4,913","1,940","2,510","4,065","2,526","2,663",(X),"2,617","12,367","13,129"
359,Percent below poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
360,Estimate,11.1%,NaN,13.8%,17.0%,12.7%,13.6%,11.0%,17.5%,7.4%,7.8%,7.3%,NaN,9.0%,13.2%,NaN,10.5%,N,24.8%,N,N,23.3%,9.7%,20.2%,9.8%,NaN,8.4%,22.5%,9.4%,8.0%,4.5%,NaN,7.2%,6.3%,4.7%,8.3%,29.0%,21.6%,38.3%,NaN,10.3%,2.8%,16.5%,17.0%,NaN,(X),(X),(X),(X),(X),(X),(X),(X),22.9%,16.0%,30.8%,-,88.9%,51.0%,19.6%,13.2%,17.9%,19.4%,14.9%,20.8%,(X),4.5%,41.0%,37.9%
361,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,Estimate,"3,165,711",NaN,"588,499","124,657","463,842","586,931","1,923,885","686,159","1,237,726","863,601","653,327",NaN,"1,501,118","1,664,593",NaN,"2,058,934","397,448",N,N,N,"546,795","152,610","3,125,009","30,487",NaN,"2,268,253","506,366","638,393","516,021","607,473",NaN,"1,181,519","1,003,599","533,060","470,539","177,920","94,224","83,696",NaN,"2,660,166","661,189","422,038","1,576,939",NaN,"734,815","1,648,770","1,894,139","2,180,509","2,286,300","2,729,229","2,926,820","3,025,603","541,356","248,641","292,715",566,917,"24,953","61,583","64,665","84,253","107,783","102,325","94,311","7,804","134,028","80,059","327,269"
364,Below poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
365,Estimate,"1,363,666",NaN,"335,044","80,321","254,723","333,537","779,041","312,901","466,140","332,660","249,581",NaN,"616,743","746,923",NaN,"841,615","177,787",N,N,N,"276,928","63,305","1,348,583","11,796",NaN,"882,680","311,508","290,378","180,389","100,405",NaN,"343,563","222,612","115,046","107,566","120,951","61,200","59,751",NaN,"1,070,969","69,438","186,867","814,664",NaN,(X),(X),(X),(X),(X),(X),(X),(X),"301,209","127,704","173,505",566,856,"20,984","30,898","29,113","41,293","64,181","56,725","56,593",(X),"10,943","53,357","236,909"
366,Percent below poverty level,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
367,Estimate,43.1%,NaN,56.9%,64.4%,54.9%,56.8%,40.5%,45.6%,37.7%,38.5%,38.2%,NaN,41.1%,44.9%,NaN,40.9%,44.7%,N,N,N,50.6%,41.5%,43.2%,38.7%,NaN,38.9%,61.5%,45.5%,35.0%,16.5%,NaN,29.1%,22.2%,21.6%,22.9%,68.0%,65.0%,71.4%,NaN,40.3%,10.5%,44.3%,51.7%,NaN,(X),(X),(X),(X),(X),(X),(X),(X),55.6%,51.4%,59.3%,100.0%,93.3%,84.1%,50.2%,45.0%,49.0%,59.5%,55.4%,60.0%,(X),8.2%,66.6%,72.4%

### The structure
We can see, that we have the description of the state and what kind of number is displayed all in one column.
Additionally we have  labels for a matrix like structure on the column names.
The first three rows are like a header/description, we don't need that.

I come to the conclusion, that cleaning this dataframe would take more time than creating a new one, extracting the information we need.

We basically want to have a dataframe with the following columns:

In [24]:
columns = ['year', 'state', 'population', 'poverty','unemployed']

In [25]:
povertydata = []

In [26]:
# Beginning in line 4 and last on line 361 every 7th line on the dataframe has the statename, we begin from here
# The whole file is for 2018
year = '2018'

for row in range(4,len(poverty['Unnamed: 0']),7):
    povertydata.append([
        2018,
        poverty.iloc[row,0],
        poverty.iloc[row+2,1],
        poverty.iloc[row+4,1],
        poverty.iloc[row+2,36]
    ])

In [27]:
len(povertydata)

52

In [28]:
povertydata

[[2018, 'Alabama', '4,763,828', '800,422', '124,054'],
 [2018, 'Alaska', '720,869', '78,620', '25,392'],
 [2018, 'Arizona', '7,013,444', '983,499', '178,702'],
 [2018, 'Arkansas', '2,925,448', '504,504', '60,796'],
 [2018, 'California', '38,818,454', '4,969,326', '1,093,170'],
 [2018, 'Colorado', '5,577,020', '537,492', '119,541'],
 [2018, 'Connecticut', '3,468,263', '361,377', '105,592'],
 [2018, 'Delaware', '940,786', '117,242', '27,708'],
 [2018, 'District of Columbia', '669,031', '108,055', '30,539'],
 [2018, 'Florida', '20,882,651', '2,840,977', '524,638'],
 [2018, 'Georgia', '10,238,658', '1,468,642', '244,100'],
 [2018, 'Hawaii', '1,382,448', '122,143', '27,155'],
 [2018, 'Idaho', '1,723,154', '203,264', '32,923'],
 [2018, 'Illinois', '12,447,271', '1,509,247', '364,946'],
 [2018, 'Indiana', '6,489,261', '852,638', '146,407'],
 [2018, 'Iowa', '3,055,939', '343,504', '58,096'],
 [2018, 'Kansas', '2,825,680', '338,175', '54,771'],
 [2018, 'Kentucky', '4,326,305', '730,408', '107,132'],
 [2018, 'Louisiana', '4,529,028', '843,626', '135,546'],
 [2018, 'Maine', '1,301,941', '151,541', '24,209'],
 [2018, 'Maryland', '5,899,819', '528,203', '157,693'],
 [2018, 'Massachusetts', '6,665,083', '663,918', '171,717'],
 [2018, 'Michigan', '9,774,124', '1,373,349', '261,638'],
 [2018, 'Minnesota', '5,488,344', '529,077', '101,932'],
 [2018, 'Mississippi', '2,886,448', '567,645', '94,252'],
 [2018, 'Missouri', '5,943,658', '786,330', '127,311'],
 [2018, 'Montana', '1,037,462', '135,114', '18,605'],
 [2018, 'Nebraska', '1,875,342', '206,341', '34,018'],
 [2018, 'Nevada', '2,991,978', '387,327', '85,170'],
 [2018, 'New Hampshire', '1,312,006', '100,220', '25,850'],
 [2018, 'New Jersey', '8,739,304', '832,133', '229,342'],
 [2018, 'New Mexico', '2,051,759', '399,456', '55,741'],
 [2018, 'New York', '19,037,564', '2,591,391', '488,737'],
 [2018, 'North Carolina', '10,100,431', '1,417,873', '250,339'],
 [2018, 'North Dakota', '736,671', '78,676', '10,729'],
 [2018, 'Ohio', '11,362,304', '1,578,673', '285,599'],
 [2018, 'Oklahoma', '3,825,027', '596,949', '79,051'],
 [2018, 'Oregon', '4,113,142', '516,570', '105,038'],
 [2018, 'Pennsylvania', '12,394,000', '1,517,870', '315,071'],
 [2018, 'Rhode Island', '1,016,469', '131,205', '29,378'],
 [2018, 'South Carolina', '4,944,754', '755,215', '126,468'],
 [2018, 'South Dakota', '852,419', '111,626', '13,283'],
 [2018, 'Tennessee', '6,603,013', '1,011,016', '178,702'],
 [2018, 'Texas', '28,074,573', '4,180,675', '685,891'],
 [2018, 'Utah', '3,110,944', '280,773', '49,428'],
 [2018, 'Vermont', '601,261', '66,013', '12,865'],
 [2018, 'Virginia', '8,264,095', '884,647', '177,948'],
 [2018, 'Washington', '7,400,557', '759,013', '162,439'],
 [2018, 'West Virginia', '1,753,476', '312,188', '44,368'],
 [2018, 'Wisconsin', '5,665,153', '625,826', '96,201'],
 [2018, 'Wyoming', '563,374', '62,301', '11,135'],
 [2018, 'Puerto Rico', '3,165,711', '1,363,666', '177,920']]

In [29]:
# No we have to repeat this process for the years 2019-2021
for year in ['2019','2020','2021']:
    poverty = pd.read_excel("Raw Data/Poverty/Poverty"+year+".xlsx", sheet_name = "Data")
    for row in range(4,len(poverty['Unnamed: 0']),7):
        povertydata.append([
        year,
        poverty.iloc[row,0],
        poverty.iloc[row+2,1],
        poverty.iloc[row+4,1],
        poverty.iloc[row+2,36]
        ])

In [30]:
len(povertydata)

208

In [31]:
povertydata

[[2018, 'Alabama', '4,763,828', '800,422', '124,054'],
 [2018, 'Alaska', '720,869', '78,620', '25,392'],
 [2018, 'Arizona', '7,013,444', '983,499', '178,702'],
 [2018, 'Arkansas', '2,925,448', '504,504', '60,796'],
 [2018, 'California', '38,818,454', '4,969,326', '1,093,170'],
 [2018, 'Colorado', '5,577,020', '537,492', '119,541'],
 [2018, 'Connecticut', '3,468,263', '361,377', '105,592'],
 [2018, 'Delaware', '940,786', '117,242', '27,708'],
 [2018, 'District of Columbia', '669,031', '108,055', '30,539'],
 [2018, 'Florida', '20,882,651', '2,840,977', '524,638'],
 [2018, 'Georgia', '10,238,658', '1,468,642', '244,100'],
 [2018, 'Hawaii', '1,382,448', '122,143', '27,155'],
 [2018, 'Idaho', '1,723,154', '203,264', '32,923'],
 [2018, 'Illinois', '12,447,271', '1,509,247', '364,946'],
 [2018, 'Indiana', '6,489,261', '852,638', '146,407'],
 [2018, 'Iowa', '3,055,939', '343,504', '58,096'],
 [2018, 'Kansas', '2,825,680', '338,175', '54,771'],
 [2018, 'Kentucky', '4,326,305', '730,408', '107,132'],
 [2018, 'Louisiana', '4,529,028', '843,626', '135,546'],
 [2018, 'Maine', '1,301,941', '151,541', '24,209'],
 [2018, 'Maryland', '5,899,819', '528,203', '157,693'],
 [2018, 'Massachusetts', '6,665,083', '663,918', '171,717'],
 [2018, 'Michigan', '9,774,124', '1,373,349', '261,638'],
 [2018, 'Minnesota', '5,488,344', '529,077', '101,932'],
 [2018, 'Mississippi', '2,886,448', '567,645', '94,252'],
 [2018, 'Missouri', '5,943,658', '786,330', '127,311'],
 [2018, 'Montana', '1,037,462', '135,114', '18,605'],
 [2018, 'Nebraska', '1,875,342', '206,341', '34,018'],
 [2018, 'Nevada', '2,991,978', '387,327', '85,170'],
 [2018, 'New Hampshire', '1,312,006', '100,220', '25,850'],
 [2018, 'New Jersey', '8,739,304', '832,133', '229,342'],
 [2018, 'New Mexico', '2,051,759', '399,456', '55,741'],
 [2018, 'New York', '19,037,564', '2,591,391', '488,737'],
 [2018, 'North Carolina', '10,100,431', '1,417,873', '250,339'],
 [2018, 'North Dakota', '736,671', '78,676', '10,729'],
 [2018, 'Ohio', '11,362,304', '1,578,673', '285,599'],
 [2018, 'Oklahoma', '3,825,027', '596,949', '79,051'],
 [2018, 'Oregon', '4,113,142', '516,570', '105,038'],
 [2018, 'Pennsylvania', '12,394,000', '1,517,870', '315,071'],
 [2018, 'Rhode Island', '1,016,469', '131,205', '29,378'],
 [2018, 'South Carolina', '4,944,754', '755,215', '126,468'],
 [2018, 'South Dakota', '852,419', '111,626', '13,283'],
 [2018, 'Tennessee', '6,603,013', '1,011,016', '178,702'],
 [2018, 'Texas', '28,074,573', '4,180,675', '685,891'],
 [2018, 'Utah', '3,110,944', '280,773', '49,428'],
 [2018, 'Vermont', '601,261', '66,013', '12,865'],
 [2018, 'Virginia', '8,264,095', '884,647', '177,948'],
 [2018, 'Washington', '7,400,557', '759,013', '162,439'],
 [2018, 'West Virginia', '1,753,476', '312,188', '44,368'],
 [2018, 'Wisconsin', '5,665,153', '625,826', '96,201'],
 [2018, 'Wyoming', '563,374', '62,301', '11,135'],
 [2018, 'Puerto Rico', '3,165,711', '1,363,666', '177,920'],
 ['2019', 'Alabama', '4,754,288', '795,989', '129,829'],
 ['2019', 'Alaska', '719,376', '76,933', '26,715'],
 ['2019', 'Arizona', '6,891,224', '1,043,764', '192,560'],
 ['2019', 'Arkansas', '2,910,954', '496,260', '69,264'],
 ['2019', 'California', '38,535,926', '5,149,742', '1,183,956'],
 ['2019', 'Colorado', '5,489,133', '565,873', '128,881'],
 ['2019', 'Connecticut', '3,470,087', '344,146', '115,034'],
 ['2019', 'Delaware', '930,764', '109,400', '26,343'],
 ['2019', 'District of Columbia', '659,676', '107,140', '26,788'],
 ['2019', 'Florida', '20,481,252', '2,870,487', '557,117'],
 ['2019', 'Georgia', '10,130,335', '1,528,558', '285,725'],
 ['2019', 'Hawaii', '1,384,184', '130,649', '29,677'],
 ['2019', 'Idaho', '1,686,285', '221,256', '35,331'],
 ['2019', 'Illinois', '12,474,842', '1,557,873', '391,466'],
 ['2019', 'Indiana', '6,461,389', '867,996', '158,828'],
 ['2019', 'Iowa', '3,040,184', '348,122', '60,064'],
 ['2019', 'Kansas', '2,826,056', '337,739', '58,609'],
 ['2019', 'Kentucky', '4,309,501', '747,010', '114,572'],
 ['2019', 'Louisiana', '4,532,714', '871,467', '139,523'],
 ['2019', 'Maine', '1,298,787', '153,131', '28,152'],
 ['2019', 'Maryland', '5,876,434', '539,991', '162,795'],
 ['2019', 'Massachusetts', '6,615,375', '680,962', '175,839'],
 ['2019', 'Michigan', '9,741,628', '1,398,527', '289,539'],
 ['2019', 'Minnesota', '5,440,087', '526,065', '107,972'],
 ['2019', 'Mississippi', '2,886,767', '585,786', '98,813'],
 ['2019', 'Missouri', '5,922,570', '810,045', '138,611'],
 ['2019', 'Montana', '1,025,221', '134,605', '20,934'],
 ['2019', 'Nebraska', '1,859,691', '206,579', '32,935'],
 ['2019', 'Nevada', '2,929,882', '384,690', '92,315'],
 ['2019', 'New Hampshire', '1,305,013', '98,682', '26,732'],
 ['2019', 'New Jersey', '8,706,202', '869,081', '256,724'],
 ['2019', 'New Mexico', '2,049,986', '392,065', '62,744'],
 ['2019', 'New York', '19,063,180', '2,681,277', '538,905'],
 ['2019', 'North Carolina', '9,984,891', '1,467,591', '276,209'],
 ['2019', 'North Dakota', '732,326', '78,198', '10,727'],
 ['2019', 'Ohio', '11,331,030', '1,588,343', '307,102'],
 ['2019', 'Oklahoma', '3,817,368', '598,373', '93,094'],
 ['2019', 'Oregon', '4,052,019', '533,527', '112,660'],
 ['2019', 'Pennsylvania', '12,380,284', '1,539,183', '341,016'],
 ['2019', 'Rhode Island', '1,016,506', '125,826', '29,556'],
 ['2019', 'South Carolina', '4,877,884', '741,650', '136,930'],
 ['2019', 'South Dakota', '841,207', '110,553', '15,179'],
 ['2019', 'Tennessee', '6,542,792', '996,930', '169,914'],
 ['2019', 'Texas', '27,637,858', '4,072,194', '699,858'],
 ['2019', 'Utah', '3,048,871', '298,537', '54,776'],
 ['2019', 'Vermont', '599,618', '65,652', '11,703'],
 ['2019', 'Virginia', '8,201,608', '865,691', '196,047'],
 ['2019', 'Washington', '7,266,810', '785,244', '183,334'],
 ['2019', 'West Virginia', '1,765,715', '310,044', '50,775'],
 ['2019', 'Wisconsin', '5,642,353', '639,160', '109,809'],
 ['2019', 'Wyoming', '566,918', '62,257', '13,173'],
 ['2019', 'Puerto Rico', '3,289,522', '1,449,091', '196,631'],
 ['2020', 'Alabama', '4,771,614', '762,642', '123,105'],
 ['2020', 'Alaska', '719,445', '74,369', '26,291'],
 ['2020', 'Arizona', '7,012,999', '990,528', '196,249'],
 ['2020', 'Arkansas', '2,923,585', '470,190', '70,352'],
 ['2020', 'California', '38,589,882', '4,853,434', '1,213,692'],
 ['2020', 'Colorado', '5,563,823', '544,232', '140,103'],
 ['2020', 'Connecticut', '3,466,935', '339,156', '114,800'],
 ['2020', 'Delaware', '941,266', '107,641', '28,136'],
 ['2020', 'District of Columbia', '669,089', '103,391', '28,240'],
 ['2020', 'Florida', '20,793,628', '2,772,939', '551,884'],
 ['2020', 'Georgia', '10,238,369', '1,461,572', '286,519'],
 ['2020', 'Hawaii', '1,381,577', '127,971', '31,628'],
 ['2020', 'Idaho', '1,722,972', '205,676', '35,377'],
 ['2020', 'Illinois', '12,418,504', '1,488,670', '391,490'],
 ['2020', 'Indiana', '6,491,632', '838,149', '157,609'],
 ['2020', 'Iowa', '3,051,284', '339,090', '63,416'],
 ['2020', 'Kansas', '2,828,498', '323,644', '59,162'],
 ['2020', 'Kentucky', '4,322,881', '717,895', '111,046'],
 ['2020', 'Louisiana', '4,532,187', '845,230', '140,817'],
 ['2020', 'Maine', '1,304,038', '144,384', '27,833'],
 ['2020', 'Maryland', '5,894,835', '531,553', '166,004'],
 ['2020', 'Massachusetts', '6,637,329', '653,454', '186,199'],
 ['2020', 'Michigan', '9,753,541', '1,337,256', '294,030'],
 ['2020', 'Minnesota', '5,476,956', '511,185', '114,124'],
 ['2020', 'Mississippi', '2,883,074', '564,439', '94,583'],
 ['2020', 'Missouri', '5,942,813', '772,992', '137,726'],
 ['2020', 'Montana', '1,036,490', '132,476', '21,921'],
 ['2020', 'Nebraska', '1,869,467', '193,820', '33,496'],
 ['2020', 'Nevada', '2,987,817', '381,695', '100,076'],
 ['2020', 'New Hampshire', '1,312,770', '97,418', '27,798'],
 ['2020', 'New Jersey', '8,713,792', '842,704', '270,216'],
 ['2020', 'New Mexico', '2,053,909', '381,026', '61,802'],
 ['2020', 'New York', '19,009,098', '2,581,048', '561,027'],
 ['2020', 'North Carolina', '10,098,330', '1,411,939', '273,393'],
 ['2020', 'North Dakota', '735,842', '77,491', '12,189'],
 ['2020', 'Ohio', '11,350,378', '1,546,011', '306,659'],
 ['2020', 'Oklahoma', '3,833,712', '585,520', '93,563'],
 ['2020', 'Oregon', '4,096,744', '506,558', '114,288'],
 ['2020', 'Pennsylvania', '12,387,061', '1,480,430', '345,120'],
 ['2020', 'Rhode Island', '1,017,028', '117,785', '30,378'],
 ['2020', 'South Carolina', '4,950,181', '726,470', '132,754'],
 ['2020', 'South Dakota', '849,910', '108,863', '15,719'],
 ['2020', 'Tennessee', '6,603,468', '965,213', '174,680'],
 ['2020', 'Texas', '28,013,446', '3,984,260', '744,366'],
 ['2020', 'Utah', '3,102,049', '283,360', '56,868'],
 ['2020', 'Vermont', '599,938', '64,700', '12,334'],
 ['2020', 'Virginia', '8,255,575', '826,708', '198,413'],
 ['2020', 'Washington', '7,372,433', '751,044', '184,403'],
 ['2020', 'West Virginia', '1,755,591', '300,152', '50,878'],
 ['2020', 'Wisconsin', '5,659,485', '620,947', '108,040'],
 ['2020', 'Wyoming', '566,858', '61,006', '12,805'],
 ['2020', 'Puerto Rico', '3,227,457', '1,400,958', '181,802'],
 ['2021', 'Alabama', '4,920,613', '794,326', '122,512'],
 ['2021', 'Alaska', '716,769', '75,165', '24,603'],
 ['2021', 'Arizona', '7,126,930', '908,961', '202,345'],
 ['2021', 'Arkansas', '2,944,289', '480,153', '76,731'],
 ['2021', 'California', '38,481,790', '4,733,036', '1,633,786'],
 ['2021', 'Colorado', '5,696,140', '553,272', '166,282'],
 ['2021', 'Connecticut', '3,506,226', '354,166', '126,976'],
 ['2021', 'Delaware', '978,675', '113,450', '27,025'],
 ['2021', 'District of Columbia', '637,491', '105,007', '30,569'],
 ['2021', 'Florida', '21,368,535', '2,805,433', '588,343'],
 ['2021', 'Georgia', '10,529,506', '1,476,348', '290,915'],
 ['2021', 'Hawaii', '1,402,392', '156,735', '52,548'],
 ['2021', 'Idaho', '1,868,374', '205,702', '30,574'],
 ['2021', 'Illinois', '12,380,582', '1,498,523', '476,511'],
 ['2021', 'Indiana', '6,608,427', '803,021', '158,914'],
 ['2021', 'Iowa', '3,100,317', '344,696', '58,401'],
 ['2021', 'Kansas', '2,854,624', '333,518', '62,933'],
 ['2021', 'Kentucky', '4,379,845', '721,878', '113,046'],
 ['2021', 'Louisiana', '4,501,071', '883,236', '161,478'],
 ['2021', 'Maine', '1,338,019', '154,117', '33,767'],
 ['2021', 'Maryland', '6,023,847', '618,372', '191,438'],
 ['2021', 'Massachusetts', '6,748,410', '700,138', '248,174'],
 ['2021', 'Michigan', '9,847,403', '1,286,329', '338,461'],
 ['2021', 'Minnesota', '5,587,189', '519,731', '148,637'],
 ['2021', 'Mississippi', '2,861,627', '554,152', '83,862'],
 ['2021', 'Missouri', '5,999,824', '761,311', '141,353'],
 ['2021', 'Montana', '1,079,864', '128,123', '21,453'],
 ['2021', 'Nebraska', '1,914,212', '205,852', '26,677'],
 ['2021', 'Nevada', '3,103,176', '437,385', '152,811'],
 ['2021', 'New Hampshire', '1,348,892', '97,403', '27,694'],
 ['2021', 'New Jersey', '9,093,135', '930,602', '392,896'],
 ['2021', 'New Mexico', '2,076,524', '382,798', '73,811'],
 ['2021', 'New York', '19,329,338', '2,688,587', '875,592'],
 ['2021', 'North Carolina', '10,285,053', '1,378,621', '296,795'],
 ['2021', 'North Dakota', '752,033', '83,350', '10,914'],
 ['2021', 'Ohio', '11,470,517', '1,536,524', '317,278'],
 ['2021', 'Oklahoma', '3,877,776', '606,782', '111,030'],
 ['2021', 'Oregon', '4,166,362', '507,829', '134,819'],
 ['2021', 'Pennsylvania', '12,571,365', '1,519,032', '414,134'],
 ['2021', 'Rhode Island', '1,052,091', '120,055', '43,936'],
 ['2021', 'South Carolina', '5,063,148', '741,652', '137,567'],
 ['2021', 'South Dakota', '867,039', '106,548', '12,341'],
 ['2021', 'Tennessee', '6,811,613', '927,587', '178,828'],
 ['2021', 'Texas', '28,933,638', '4,122,538', '904,662'],
 ['2021', 'Utah', '3,290,444', '281,673', '58,935'],
 ['2021', 'Vermont', '621,338', '63,720', '14,009'],
 ['2021', 'Virginia', '8,401,227', '854,145', '208,399'],
 ['2021', 'Washington', '7,599,960', '754,315', '229,245'],
 ['2021', 'West Virginia', '1,734,876', '291,930', '47,473'],
 ['2021', 'Wisconsin', '5,754,788', '621,125', '108,419'],
 ['2021', 'Wyoming', '565,760', '64,224', '10,736'],
 ['2021', 'Puerto Rico', '3,235,303', '1,310,464', '163,354']]

# Data Cleaning

First we transfer our array into a dataframe

In [32]:
poverty_df = pd.DataFrame(povertydata,columns = columns)
poverty_df

     year          state  population    poverty unemployed
0    2018        Alabama   4,763,828    800,422    124,054
1    2018         Alaska     720,869     78,620     25,392
2    2018        Arizona   7,013,444    983,499    178,702
3    2018       Arkansas   2,925,448    504,504     60,796
4    2018     California  38,818,454  4,969,326  1,093,170
..    ...            ...         ...        ...        ...
203  2021     Washington   7,599,960    754,315    229,245
204  2021  West Virginia   1,734,876    291,930     47,473
205  2021      Wisconsin   5,754,788    621,125    108,419
206  2021        Wyoming     565,760     64,224     10,736
207  2021    Puerto Rico   3,235,303  1,310,464    163,354

[208 rows x 5 columns]

We only have to remove the commas and convert the numbers to integers.

In [33]:
def num_clean(x):
    return int(x.replace(",",""))

In [34]:
for col in ['population','poverty','unemployed']:
    poverty_df[col] = poverty_df[col].apply(num_clean)

In [43]:
poverty_df

    year          state  population  poverty  unemployed
0     70        Alabama     4763828   800422      124054
1     70         Alaska      720869    78620       25392
2     70        Arizona     7013444   983499      178702
3     70       Arkansas     2925448   504504       60796
4     70     California    38818454  4969326     1093170
..   ...            ...         ...      ...         ...
203   70     Washington     7599960   754315      229245
204   70  West Virginia     1734876   291930       47473
205   70      Wisconsin     5754788   621125      108419
206   70        Wyoming      565760    64224       10736
207   70    Puerto Rico     3235303  1310464      163354

[208 rows x 5 columns]

# Saving
Now we save the cleaned data for later use

In [44]:
# As csv
poverty_df.to_csv('Clean Data/poverty_population_clean.csv', index=False)