# This notebook contains additional calculaions

Depending on what I might later on need for my presentation, I will put them in here, to be able to add data without impairing the readability of the previous notebooks

In [11]:
import pandas as pd
import numpy as np
import time
from datetime import date
import matplotlib.pyplot as plt
import seaborn as sns

# Importing the data

In [12]:
df = pd.read_csv("Clean Data/intermediate.csv")

In [13]:
df.head(10)

,year,month,state,revenue,handle,hold,taxes,population,poverty,unemployed,med_income,online,in_person,handle_capita,tax_rate,unemployment_rate,poverty_rate,tax_group
0,2018,0.0,Alabama,0.0,0.0,0.0,0.0,4.763828,0.800422,0.124054,31962.0,0.0,0.0,0.0,0.0,2.604082,16.802076,No rate
1,2019,0.0,Alabama,0.0,0.0,0.0,0.0,4.754288,0.795989,0.129829,31962.0,0.0,0.0,0.0,0.0,2.730777,16.742549,No rate
2,2020,0.0,Alabama,0.0,0.0,0.0,0.0,4.771614,0.762642,0.123105,32080.0,0.0,0.0,0.0,0.0,2.579945,15.982894,No rate
3,2021,0.0,Alabama,0.0,0.0,0.0,0.0,4.920613,0.794326,0.122512,34925.0,0.0,0.0,0.0,0.0,2.489771,16.142826,No rate
4,2018,0.0,Alaska,0.0,0.0,0.0,0.0,0.720869,0.078620,0.025392,40334.0,0.0,0.0,0.0,0.0,3.522415,10.906281,No rate
5,2019,0.0,Alaska,0.0,0.0,0.0,0.0,0.719376,0.076933,0.026715,40334.0,0.0,0.0,0.0,0.0,3.713635,10.694407,No rate
6,2020,0.0,Alaska,0.0,0.0,0.0,0.0,0.719445,0.074369,0.026291,40471.0,0.0,0.0,0.0,0.0,3.654345,10.336996,No rate
7,2021,0.0,Alaska,0.0,0.0,0.0,0.0,0.716769,0.075165,0.024603,41962.0,0.0,0.0,0.0,0.0,3.432487,10.486642,No rate
8,2018,0.0,Arizona,0.0,0.0,0.0,0.0,7.013444,0.983499,0.178702,34397.0,1.0,1.0,0.0,0.0,2.547992,14.023053,No rate
9,2019,0.0,Arizona,0.0,0.0,0.0,0.0,6.891224,1.043764,0.192560,34397.0,1.0,1.0,0.0,0.0,2.794279,15.146279,No rate

# Additions

#### Seasonality
Since we discovered in the DA, that the Season definitely influences the bettin behaviour we add a column with the season.

In [14]:
def season_calc(month):
    if int(month) in [12,1,2]:
        return 'Winter'
    elif int(month) in [3,4,5]:
        return 'Spring'
    elif int(month) in [6,7,8]:
        return 'Summer'
    elif int(month) in [9,10,11]:
        return 'Autumn'
    else:
        return 'No Data'

In [15]:
df['season'] = df['month'].apply(season_calc)

In [16]:
df.tail(5)

,year,month,state,revenue,handle,hold,taxes,population,poverty,unemployed,med_income,online,in_person,handle_capita,tax_rate,unemployment_rate,poverty_rate,tax_group,season
1030,2022,6.0,Wyoming,0.673269,7.322852,0.09,0.038036,0.564664,0.067612,0.009001,35839.43057,1.0,0.0,12.968509,5.649451,1.594099,11.973799,Low,Summer
1031,2022,7.0,Wyoming,0.680740,7.246352,0.09,0.038365,0.564664,0.067612,0.009001,35839.43057,1.0,0.0,12.833031,5.635779,1.594099,11.973799,Low,Summer
1032,2022,8.0,Wyoming,1.237815,10.990904,0.11,0.085672,0.564664,0.067612,0.009001,35839.43057,1.0,0.0,19.464498,6.921228,1.594099,11.973799,Low,Summer
1033,2022,9.0,Wyoming,1.932519,13.575173,0.14,0.115500,0.564664,0.067612,0.009001,35839.43057,1.0,0.0,24.041147,5.976655,1.594099,11.973799,Low,Autumn
1034,2022,10.0,Wyoming,2.039620,17.275317,0.12,0.115893,0.564664,0.067612,0.009001,35839.43057,1.0,0.0,30.593969,5.682088,1.594099,11.973799,Low,Autumn

# Saving the final dataframe

In [17]:
# As csv
df.to_csv('Clean Data/final.csv', index=False)