In [1]:
# !pip install SQLAlchemy-Utils

In [2]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy_utils import database_exists, create_database
from getpass import getpass
password = getpass()

········

# Importing all clean files

In [3]:
income = pd.read_csv("Clean Data/income.csv")
wager = pd.read_csv("Clean Data/wager_clean.csv")
status = pd.read_csv("Clean Data/status.csv")
population = pd.read_csv("Clean Data/poverty_population_clean.csv")

# Combining tables
Since population and income have a very similar structure we combine them into a demographics dataframe before uploading into SQL.

In [4]:
demographics = pd.merge(left = population,
                                 right = income,
                                 how = 'inner', 
                                 left_on = ['state','year'], 
                                 right_on= ['state','year'])

In [5]:
demographics

     year          state  population  poverty  unemployed  med_income
0    2018        Alabama     4763828   800422      124054       31962
1    2018         Alaska      720869    78620       25392       40334
2    2018        Arizona     7013444   983499      178702       34397
3    2018       Arkansas     2925448   504504       60796       30818
4    2018     California    38818454  4969326     1093170       39549
..    ...            ...         ...      ...         ...         ...
203  2021     Washington     7599960   754315      229245       46951
204  2021  West Virginia     1734876   291930       47473       33739
205  2021      Wisconsin     5754788   621125      108419       40678
206  2021        Wyoming      565760    64224       10736       35613
207  2021    Puerto Rico     3235303  1310464      163354       17843

[208 rows x 6 columns]

# Adjusting names
### Since / is problematic for usage in pandas, we have to change the name of one column in the wager dataframe

In [6]:
wager.columns

Index(['handle', 'revenue', 'hold', 'taxes/jurisdiction_revenue', 'state',
       'month', 'year'],
      dtype='object')

In [7]:
wager = wager.rename(columns={'taxes/jurisdiction_revenue':'taxes'})
wager.columns

Index(['handle', 'revenue', 'hold', 'taxes', 'state', 'month', 'year'], dtype='object')

### Washington DC
Washington DC is accounted for as Washington DC in the wager dataframe and as District of columbia in the demographics, we have to unify it.

In [8]:
demographics['state'] = demographics['state'].apply(lambda x: 'Washington DC' if x == 'District of Columbia' else x)

In [9]:
demographics['state'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'Washington DC', 'Florida',
       'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa',
       'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)

# Connecting to SQL database
### Creating the engine

In [10]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sports_betting'
engine = create_engine(connection_string)

### Creating databse if it doesn't exist yet

In [11]:
if not database_exists(engine.url):
    create_database(engine.url)

# Loading the dataframes into the newly created database

In [12]:
income.to_sql("income", engine, if_exists = "replace")
wager.to_sql("wager", engine, if_exists = "replace")
status.to_sql("status", engine, if_exists = "replace")
population.to_sql("population", engine, if_exists = "replace")
demographics.to_sql("demographics", engine, if_exists = "replace")

208

# Combining the dataframes and loading from database

While selecting we do a right and a left join with a union statement, because we want to retrieve the data for all states even if there is no gambling allowed.

In [13]:
query = r"""
SELECT 
w.year AS year,
w.month AS month,
w.state AS state,
w.revenue AS revenue,
w.handle AS handle,
w.hold AS hold,
w.taxes AS taxes,
w.month AS month,
d.population AS population, 
d.poverty AS poverty,
d.unemployed AS unemployed,
d.med_income AS med_income,
s.online AS online,
s.in_person AS in_person
FROM wager w
LEFT JOIN demographics d
ON(w.year = d.year and w.state = d.state)
LEFT JOIN status s
ON(s.state = w.state)

UNION

SELECT 
d2.year AS year,
w2.month AS month,
d2.state AS state,
w2.revenue AS revenue,
w2.handle AS handle,
w2.hold AS hold,
w2.taxes AS taxes,
w2.month AS month,
d2.population AS population, 
d2.poverty AS poverty,
d2.unemployed AS unemployed,
d2.med_income AS med_income,
s2.online AS online,
s2.in_person AS in_person
FROM wager w2
RIGHT JOIN demographics d2
ON(w2.year = d2.year and w2.state = d2.state)
LEFT JOIN status s2
ON(s2.state = d2.state);

            """

In [14]:
df = pd.read_sql_query(query, engine)

In [15]:
df.head(10)

,year,month,state,revenue,handle,hold,taxes,month,population,poverty,unemployed,med_income,online,in_person
0,2021,9.0,Arizona,31238322.0,291212868.0,0.11,31393.0,9.0,7126930.0,908961.0,202345.0,39023.0,1.0,1.0
1,2021,10.0,Arizona,36326542.0,486097352.0,0.07,1022841.0,10.0,7126930.0,908961.0,202345.0,39023.0,1.0,1.0
2,2021,11.0,Arizona,51416143.0,466725687.0,0.11,3177148.0,11.0,7126930.0,908961.0,202345.0,39023.0,1.0,1.0
3,2021,12.0,Arizona,39822928.0,499213733.0,0.08,1723902.0,12.0,7126930.0,908961.0,202345.0,39023.0,1.0,1.0
4,2022,1.0,Arizona,41890200.0,563694591.0,0.07,1952971.0,1.0,NaN,NaN,NaN,NaN,1.0,1.0
5,2022,2.0,Arizona,25629835.0,491665554.0,0.05,670686.0,2.0,NaN,NaN,NaN,NaN,1.0,1.0
6,2022,3.0,Arizona,37231646.0,690979294.0,0.05,1864457.0,3.0,NaN,NaN,NaN,NaN,1.0,1.0
7,2022,4.0,Arizona,29249275.0,512877848.0,0.06,1647450.0,4.0,NaN,NaN,NaN,NaN,1.0,1.0
8,2022,5.0,Arizona,55162888.0,461450688.0,0.12,4125125.0,5.0,NaN,NaN,NaN,NaN,1.0,1.0
9,2022,6.0,Arizona,15369245.0,318774198.0,0.05,766831.0,6.0,NaN,NaN,NaN,NaN,1.0,1.0

# Handling the new NULL values

Our SQL query created new Null Values. That was to be expected as we did not have the demographic data for 2022.
We will extrapolate the trends in demographics from 2020 to 2021 to have an approximation for the missing demographic data.
Also there will be Null values for the gambling data where sports betting is not legal. Those we can replace with 0.

In [16]:
df.isna().sum()

year            0
month         143
state           0
revenue       143
handle        143
hold          143
taxes         143
month         143
population    282
poverty       282
unemployed    282
med_income    282
online         64
in_person      64
dtype: int64

### Filling 0 revenue for states without gambling

In [17]:
# filling with 0 for states without gambling
for i in ['handle','revenue','hold','taxes']:
    df[i] = df[i].fillna(0)

In [18]:
df.isna().sum()

year            0
month         143
state           0
revenue         0
handle          0
hold            0
taxes           0
month         143
population    282
poverty       282
unemployed    282
med_income    282
online         64
in_person      64
dtype: int64

### The month values
The month values are missing, since we have the population data only on a yearly basis, to not mix it up, we set 0 as a placeholder value.

In [19]:
df['month'] = df['month'].fillna(0)
df.isna().sum()

year            0
month           0
state           0
revenue         0
handle          0
hold            0
taxes           0
month           0
population    282
poverty       282
unemployed    282
med_income    282
online         64
in_person      64
dtype: int64

# Legal status
There were NULL values created for the legal statuses, we have to investigate

In [20]:
display(df[df['online'].isna()].head(10))

,year,month,state,revenue,handle,hold,taxes,month,population,poverty,unemployed,med_income,online,in_person
773,2020,5.0,Washington DC,-240.0,9723.0,-0.02,-24.0,5.0,669089.0,103391.0,28240.0,59677.0,NaN,NaN
774,2020,6.0,Washington DC,36985.0,223730.0,0.17,3698.0,6.0,669089.0,103391.0,28240.0,59677.0,NaN,NaN
775,2020,7.0,Washington DC,142280.0,741500.0,0.19,14228.0,7.0,669089.0,103391.0,28240.0,59677.0,NaN,NaN
776,2020,7.0,Washington DC,1740.0,1830.0,0.95,174.0,7.0,669089.0,103391.0,28240.0,59677.0,NaN,NaN
777,2020,8.0,Washington DC,278141.0,2132032.0,0.13,27814.0,8.0,669089.0,103391.0,28240.0,59677.0,NaN,NaN
778,2020,8.0,Washington DC,1425275.0,9130410.0,0.16,142527.0,8.0,669089.0,103391.0,28240.0,59677.0,NaN,NaN
779,2020,9.0,Washington DC,498896.0,3269118.0,0.15,49889.0,9.0,669089.0,103391.0,28240.0,59677.0,NaN,NaN
780,2020,9.0,Washington DC,1305403.0,12186042.0,0.11,130540.0,9.0,669089.0,103391.0,28240.0,59677.0,NaN,NaN
781,2020,10.0,Washington DC,822101.0,4177245.0,0.20,82210.0,10.0,669089.0,103391.0,28240.0,59677.0,NaN,NaN
782,2020,10.0,Washington DC,2717768.0,14358602.0,0.19,271776.0,10.0,669089.0,103391.0,28240.0,59677.0,NaN,NaN

In [21]:
# The problem seems to be data for washington DC and Puerto Rico, a short investigation will help us to find out and replace the missing data.
df[df['online'].isna()]['state'].value_counts()

Washington DC    60
Puerto Rico       4
Name: state, dtype: int64

Sports betting is allowed in_person and online in washington DC so we fill in accordingly. For Puerto Rico, it is not a State of the USA and we don't have gambling data for it, so we exclude it from our Analysis.

In [22]:
df.shape

(1039, 14)

In [23]:
df = df[~ df['state'].isin(['Puerto Rico'])]
df.shape

(1035, 14)

In [24]:
df['online'] = df['online'].fillna(1)
df['in_person'] = df['in_person'].fillna(1)

In [25]:
df.isna().sum()

year            0
month           0
state           0
revenue         0
handle          0
hold            0
taxes           0
month           0
population    282
poverty       282
unemployed    282
med_income    282
online          0
in_person       0
dtype: int64

# Calculating and inserting the missing population data

In [26]:
# First we find out what is missing
df[df['population'].isna()]['state'].unique()

array(['Arizona', 'Arkansas', 'Colorado', 'Connecticut', 'Delaware',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Louisiana', 'Maryland',
       'Michigan', 'Mississippi', 'Montana', 'Nevada', 'New Hampshire',
       'New Jersey', 'New York', 'Oregon', 'Pennsylvania', 'Rhode Island',
       'South Dakota', 'Tennessee', 'Virginia', 'Washington DC',
       'West Virginia', 'Wyoming'], dtype=object)

In [27]:
df[df['population'].isna()]['year'].unique()

array([2022], dtype=int64)

As assumed the data for 2022 is missing, we calculate the growth from 2020 to 2021 and apply it for the missing values.

In [28]:
statelist = list(df[df['population'].isna()]['state'].unique())
statelist

['Arizona',
 'Arkansas',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Louisiana',
 'Maryland',
 'Michigan',
 'Mississippi',
 'Montana',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New York',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Dakota',
 'Tennessee',
 'Virginia',
 'Washington DC',
 'West Virginia',
 'Wyoming']

In [29]:
# We create a new aggregated dataframe to make the calculation easier
helpframe = df.groupby(['state','year']).agg({'population':np.mean,'poverty':np.mean,'unemployed':np.mean,'med_income':np.mean}).reset_index()

In [30]:
helpframe

       state  year  population   poverty  unemployed  med_income
0    Alabama  2018   4763828.0  800422.0    124054.0     31962.0
1    Alabama  2019   4754288.0  795989.0    129829.0     31962.0
2    Alabama  2020   4771614.0  762642.0    123105.0     32080.0
3    Alabama  2021   4920613.0  794326.0    122512.0     34925.0
4     Alaska  2018    720869.0   78620.0     25392.0     40334.0
..       ...   ...         ...       ...         ...         ...
226  Wyoming  2018    563374.0   62301.0     11135.0     34780.0
227  Wyoming  2019    566918.0   62257.0     13173.0     34780.0
228  Wyoming  2020    566858.0   61006.0     12805.0     35388.0
229  Wyoming  2021    565760.0   64224.0     10736.0     35613.0
230  Wyoming  2022         NaN       NaN         NaN         NaN

[231 rows x 6 columns]

In [31]:
helpframe.dtypes

state          object
year            int64
population    float64
poverty       float64
unemployed    float64
med_income    float64
dtype: object

#### Calculating the data

In [32]:
pop22 = []
pov22 = []
une22 = []
inc22 = []

In [33]:
for i in statelist:
    # get value for 2020
    pop20 = helpframe[(helpframe['state'] == i) & (helpframe['year'] == 2020)]['population'].values[0]
    pov20 = helpframe[(helpframe['state'] == i) & (helpframe['year'] == 2020)]['poverty'].values[0]
    une20 = helpframe[(helpframe['state'] == i) & (helpframe['year'] == 2020)]['unemployed'].values[0]
    inc20 = helpframe[(helpframe['state'] == i) & (helpframe['year'] == 2020)]['med_income'].values[0]
    # get value for 2021
    pop21 = helpframe[(helpframe['state'] == i) & (helpframe['year'] == 2021)]['population'].values[0]
    pov21 = helpframe[(helpframe['state'] == i) & (helpframe['year'] == 2021)]['poverty'].values[0]
    une21 = helpframe[(helpframe['state'] == i) & (helpframe['year'] == 2021)]['unemployed'].values[0]
    inc21 = helpframe[(helpframe['state'] == i) & (helpframe['year'] == 2021)]['med_income'].values[0]
    # inserting the values in the same order as the statelist
    pop22.append(pop21*(pop21/pop20))
    pov22.append(pov21*(pov21/pov20))
    une22.append(une21*(une21/une20))
    inc22.append(inc21*(inc21/inc20))

#### Inserting the data into the main dataframe

In [34]:
df.shape

(1035, 14)

In [35]:
df.isna().sum()

year            0
month           0
state           0
revenue         0
handle          0
hold            0
taxes           0
month           0
population    282
poverty       282
unemployed    282
med_income    282
online          0
in_person       0
dtype: int64

Since we can't detect the pandas nan with an if clause we first replace all nan with a placeholder 0

In [36]:
df = df.fillna(0)
df.isna().sum()

year          0
month         0
state         0
revenue       0
handle        0
hold          0
taxes         0
month         0
population    0
poverty       0
unemployed    0
med_income    0
online        0
in_person     0
dtype: int64

As wee see all nans are now 0

In [37]:
len(df[df['population']==0])

282

In [41]:
# Now for every row that contains a 0 we replace the values with our calculated ones
for rownum in range(len(df.index)):
    if df.iloc[rownum]['population'] == 0:
        # We check which position in our lists the state and the corresponding values have
        index = statelist.index(df.iloc[rownum]['state'])
        # We insert the values
        df.at[rownum,'population'] = pop22[index]
        df.at[rownum,'poverty'] = pov22[index]
        df.at[rownum,'unemployed'] = une22[index]
        df.at[rownum,'med_income'] = inc22[index]

As we can see all values are replaced and we have our final dataframe

In [42]:
len(df[df['population']==0])

0

# Saving the final dataframe to csv and into our database

In [43]:
# As csv
df.to_csv('Clean Data/complete_clean.csv', index=False)

In [44]:
# To database
df.to_sql("complete", engine, if_exists = "replace")

1035